{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'pdf_extractor/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to E.X.T.R.A.C.T</h1>
        <button onclick="window.location.href='{% url 'upload_pdf' %}'">Go to PDF Upload</button>
        <button onclick="window.location.href='{% url 'query_view' %}'">Go to ChromaDB Query</button>
    </div>
</body>
</html>
